<app-layout (unitChange)="handleUnitChange($event)">
  <div class="mt-2">
    <app-searcher
      (onKeyUp)="fetchPlace($event)"
      [items]="places()"
      (selected)="selectPlace($event)"
    ></app-searcher>
    @if (place() && weather()) {
    <app-summary-section
      [name]="place()?.name"
      [precipitation]="weather()?.current?.precipitation?.total"
      [temperature]="weather()?.current?.temperature"
      [icon]="weather()?.current?.icon_num"
      [summary]="weather()?.current?.summary"
    />
    } @if (weather()) {
    <app-air-condition-section [weather]="weather()" />

    <app-weather-progress-view
      title="today's forecast"
      [progressions]="hourlyProgression()"
    />

    <app-weather-progress-view
      title="7-day forecast"
      [progressions]="dailyProgression()"
    />
    }
  </div>
</app-layout>
