<app-layout
  (unitChange)="handleUnitChange($event)"
  [thereisAPlace]="thereisAPlace()"
  [isAFavoritePlace]="isAFavoritePlace()"
  (favorite)="toggleFavoritePlace()"
  (showFavoriteList)="openDrawer()"
>
  <div class="mt-2">
    <app-searcher
      class="w-full"
      (onKeyUp)="fetchPlace($event)"
      [items]="places()"
      (selected)="selectPlace($event)"
    ></app-searcher>

    @if (loading()) {
    <div class="flex flex-col items-center mt-4">
      <app-skeleton />
      <app-skeleton />
      <app-skeleton />
      <app-skeleton />
    </div>
    } @if (!loading() && place() && weather()) {

    <app-summary-section
      [name]="place()?.name"
      [precipitation]="weather()?.precipitation"
      [temperature]="weather()?.temperature"
      [icon]="weather()?.icon"
      [summary]="weather()?.summary"
    />

    <app-air-condition-section [unit]="unit()" [weather]="weather()" />

    <app-weather-progress-view
      title="today's forecast"
      [progressions]="weather()?.hourly || []"
    />

    <app-weather-progress-view
      title="7-day forecast"
      [progressions]="weather()?.daily || []"
    />
    }
  </div>
</app-layout>

<app-drawer title="Favorite places" [show]="showDrawer()" (close)="closeDrawer()">
  <app-favorite-places
    [places]="favoritePlaces()"
    (select)="selectPlace($event)"
    (remove)="removeFavoritePlace($event)"
  ></app-favorite-places>
</app-drawer>