<div class="relative">
  <div class="relative">
    <input
      class="shadow dark:shadow-indigo-700 py-3 ps-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-indigo-950 dark:border-indigo-800 dark:text-white dark:placeholder-indigo-500 dark:focus:ring-indigo-700"
      type="text"
      role="combobox"
      aria-expanded="false"
      (blur)="hideResults()"
      (focus)="showResults()"
      (input)="searchItem($event)"
      [placeholder]="placeholder()"
    />
    <div class="absolute top-1/2 end-3 -translate-y-1/2" aria-expanded="false">
      <svg
        class="shrink-0 size-3.5 text-gray-500 dark:text-neutral-500"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="m7 15 5 5 5-5"></path>
        <path d="m7 9 5-5 5 5"></path>
      </svg>
    </div>
  </div>
  @if (showOptions()) {
  <div
    class="shadow dark:shadow-indigo-700 absolute z-50 w-full max-h-72 p-1 bg-white border border-gray-200 rounded-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 dark:bg-indigo-950 dark:border-indigo-800"
  >
    @for (item of items(); track $index) {
    <p class="text-white cursor-pointer" (click)="selectedItem(item)">{{ item.name }}</p>
    }@empty {
      <p class="text-white">There aren't any results.</p>
    }
  </div>
  }
</div>
